name: Python Action

on: [push]

jobs:
  run-python:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install flask
        run: pip install flask

      - name: Run Python file
        run: python app.py
